<div class="content-container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Telefone</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        @for (cliente of listaClientes; track cliente){
        <tr>
          <td>{{ cliente.id }}</td>
          <td>{{ cliente.nome }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.telefone }}</td>
          <td>
            <button *ngIf="cliente.id" class="btn-editar" [routerLink]="['/alterar', cliente.id]">Editar</button>
            <button class="btn-excluir" (click)="excluir(cliente.id!)">Excluir</button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  
